
body {   
   background-image:url(../images/background.jpg);   
   background-repeat:no-repeat;
   background-position:top center;   
   background-color:#657077;   
   margin:40px;
   
}  


.class1 A:link {text-decoration: none; color:#bfbfbf; font-size:12px;   
    font-family:Verdana, Arial, Helvetica, sans-serif;  }
.class1 A:visited {text-decoration: none}
.class1 A:active {text-decoration: none}
.class1 A:hover {text-decoration: none; }

#navig{
	
}
#navig ul{
	padding:0 0 0 20px;
	margin:0;
	list-style:none;
	height:40px;
	background:#1841c8 url(../images/nav_background.gif);
	}
#navig li {
	float:left;
	}
#navig li a {
	display:block;
	float:left;
	height:40px;
	line-height:40px;
	color:#FFFFFF;
	text-decoration:none;
	font-family:arial, verdana, sans-serif;
	text-align: left;
	padding:0 0 0 10px;
	font-size:12px;
	}
#navig li a b {
	    float:left;
	    display:block;
	    padding:0 16px 0 8px;
	}
#navig li.current a {
	    color:#FFFFFF;
	    background:url(../images/nav_hover.gif);
	}
#navig li a:hover {
	    color:#00CCFF;
	    background: url(../images/nav_hover.gif);
	}
#navig li a em {
	    display:block;
	    float:left;
	    width:40px;
	    height:40px;
	}
/* ---------------------- Dolphin nav ---------------------- */
#dolphincontainer{position:relative;height:56px;color:#E0E0E0;background:#143D55;width:100%;font-family:Helvetica,Arial,Verdana,sans-serif;}
#dolphinnav{position:relative;height:33px;font-size:12px;text-transform:uppercase;font-weight:bold;background:#fff url(../images/dolphin_bg.gif) repeat-x bottom left;padding:0 0 0 20px;}
#dolphinnav ul{margin:0;padding:0;list-style-type:none;width:auto;float:left;}
#dolphinnav ul li{display:block;float:left;margin:0 1px;}
#dolphinnav ul li a{display:block;float:left;color:#EAF3F8;text-decoration:none;padding:0 0 0 20px;height:33px;}
#dolphinnav ul li a span{padding:12px 20px 0 0;height:21px;float:left;}
#dolphinnav ul li a:hover{color:#fff;background:transparent url(../images/dolphin_bg-OVER.gif) repeat-x bottom left;}
#dolphinnav ul li a:hover span{display:block;width:auto;cursor:pointer;}
#dolphinnav ul li a.current,#dolphinnav ul li a.current:hover{color:#fff;background:#1D6893 url(../images/dolphin_left-ON.gif) no-repeat top left;line-height:275%;}
#dolphinnav ul li a.current span{display:block;padding:0 20px 0 0;width:auto;background:#1D6893 url(../images/dolphin_right-ON.gif) no-repeat top right;height:33px;}
/* ---------------------- END Dolphin nav ---------------------- */

h4 strong {   
    color:#e3e9ec;   
    font-weight:normal;   
    font-size:21px;   
    font-family:Verdana, Arial, Helvetica, sans-serif;   
    /*text-transform:uppercase;*/   
    position:relative;   
    top:-4px;   
    left:6px;   
    letter-spacing:0px;   
}  

#tabbed_box {   
  margin: 0px auto 0px auto;   
    
  
} 

.tabbed_box h4 {   
  font-family:Arial, Helvetica, sans-serif;   
  font-size:23px;   
  color:#ffffff;   
  letter-spacing:-1px;   
  margin-bottom:10px;   
}   

.tabbed_box h4 small {   
    color:#e3e9ec;   
    font-weight:normal;   
    font-size:9px;   
    font-family:Verdana, Arial, Helvetica, sans-serif;   
    text-transform:uppercase;   
    position:relative;   
    top:-4px;   
    left:6px;   
    letter-spacing:0px;   
}  

.tabbed_box h4 medium {   
    color:#e3e9ec;   
    font-weight:normal;   
    font-size:16px;   
    font-family:Verdana, Arial, Helvetica, sans-serif;   
    /*text-transform:uppercase;*/   
    position:relative;   
    top:-4px;   
    left:6px;   
    letter-spacing:0px;   
}  

.tabbed_area {   
   border:1px solid #494e52;   
   background-color:#636d76;  
   padding:8px;  
   
} 

ul.tabs {   
  margin:0px; padding:0px;   
   margin-top:5px;   
  margin-bottom:6px;   
}   

ul.tabs li {   
  list-style:none;   
  display:inline;   
}  

ul.tabs li a {   
  background-color:#464c54;   
  color:#ffebb5;   
  padding:8px 14px 8px 14px;   
  text-decoration:none;   
   font-size:9px;   
   font-family:Verdana, Arial, Helvetica, sans-serif;   
   font-weight:bold;   
  text-transform:uppercase;   
   border:1px solid #464c54;   
} 
  
ul.tabs li a:hover {   
   background-color:#2f343a;   
   border-color:#2f343a; 
   
}   
ul.tabs li a.active {   
  background-color:#ffffff;   
  color:#282e32;   
   border:1px solid #464c54;   
   border-bottom: 1px solid #ffffff;   
}  

.content {   
   background-color:#ffffff;   
   padding:10px;   
   border:1px solid #464c54;
   overflow:auto;
   height:225px;      
}   

#content_2, #content_3 ,#content_4{ display:none; }  


.content ul {   
   margin:0px;   
   padding:0px 20px 0px 20px;   
}   

.content ul li {   
  list-style:none;   
  border-bottom:1px solid #d6dde0;   
  padding-top:15px;   
  padding-bottom:15px;   
  font-size:13px;   
}   

.content ul li a {   
   text-decoration:none;  
   color:#3e4346; 
   font-size:10px;    
}   


.content ul li:last-child {   
    border-bottom:none;   
}  

.content ul li a:hover{
font-size:10px;
font-weight:bold;
color:peru;
}

#content-footer {
-moz-border-radius:5px 5px 5px 5px;
border:1px solid #D3D3D3;
float:left;
margin-top:1.5em;
width:100%;
 /*background-color:PaleGoldenRod; */
} 

/*
#content-footer div:first-child {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-topleft:5px;
 } 
*/

#content-footer .content-section {
/*background:-moz-linear-gradient(100% 100% 0deg, #F6F6F6, #FFFFFF) repeat scroll 0 0 #FFFFFF;*/
background-color:Aliceblue;
border-right:1px solid #d3d3d3;
float:left;
/*padding:1.5em;*/
width:100%;
font-size:12px;
}  

#content-footer p {
color:#555555;
font-size:1.1em;
line-height:1.3;
margin:1em 0 0.6em;
width:100%;
}

#content-footer h3 {
color:#1170A3;
font-size:1.4em;
line-height:1;
text-align:center;
}

/*
#content-footer div:last-child {
-moz-border-radius-bottomright:5px;
-moz-border-radius-topright:5px;
}

#content-footer .content-section-last {
border-right:0 none;
}
*/

#footer-spacer {
	height: 38px; /* = #container margin-bottom plus any extra space required between #container and #footer */
}
#footer {
	border-top: 1px solid #000;
	height: 37px;
}




