	
/*      V1        */
	
*{
	list-style:none;
	margin:0px;
	padding:0px;
}

#menu4 {
	width: 200px;
	border-style: solid solid none solid;
	border-color: #94AA74;
	border-size: 1px;
	border-width: 1px;
	}
	
#menu4 li a {
  	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}
	
#menu4 li a:link, #menu4 li a:visited {
	color: #5E7830;
	display: block;
	background: url(../images/menu4.gif);
	padding: 8px 0 0 30px;
	}
	
#menu4 li a:hover {
	color: #26370A;
	background: url(../images/menu4.gif) 0 -32px;
	padding: 8px 0 0 30px;
	}
	
#menu4 li a:active {
	color: #26370A;
	background: url(../images/menu4.gif) 0 -64px;
	padding: 8px 0 0 30px;
	}	
	
	
	
	#menu4 ul li:hover a, #menu4 li:hover li a {
	background: none;
	border: none;
	color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

/* level 2 list */
#menu4 li ul {
	/*background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cfcfcf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fff,  #cfcfcf); /* for firefox 3.6+ */

	display: none;
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 0px;
	left: 200px;
	border: solid 0px #b4b4b4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}
/* dropdown */
#menu4 li:hover > ul {
	display: block;
}
#menu4 li {
	float: none;
	margin: 0;
	padding: 0;
	position:relative;
	width:200px;
	
}
#menu4 ul a {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
}
#menu4 li ul a:hover {
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
	color:#3366FF;
	
}
/* level 3+ list */
#menu4 ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#menu4 ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#menu4 ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}
/* clearfix */
#menu4:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#menu4 {
	display: inline-block;
}
html[xmlns] #menu4 {
	display: block;
}
* html #menu4 {
	height: 1%;
}